<body style="margin: 25px;">
  <h1 style="color: #0073aa;">Convertitore csv a json per plugin Wordpress <a href="https://wordpress.org/plugins/redirect-redirection/" >Redirection Redirect</a></h1>
  <h2>Il csv deve avere la seguente struttura:</h2>
  <p>
    Link di partenza;Link di arrivo<br />
    Link di partenza;Link di arrivo
  </p>

  <p style="color: orangered">Attenzione: il csv non deve contenere righe vuote</p>

  <section>
    <label for="prefix">Inserire dominio del sito</label>
    <input #namePrefixInput type="text" style="width: 40rem" placeholder="es:'https://www.qweb.eu/'" name="prefix"/>
    <br/>

    <select [(ngModel)]="selectedRedirectCode" (change)="updateRedirectCode()">
      <option value="301">301 - Moved Permanently</option>
      <option value="302">302 - Found</option>
      <option value="303">303 - See Other</option>
      <option value="304">304 - Not Modified</option>
      <option value="307">307 - Temporary Redirect</option>
      <option value="308">308 - Permanent Redirect</option>
    </select>

    <input type="file" style="margin-left: 20px;" (change)="handleFileInput($event)">
  </section>

  <h3 style="color: green; margin-top: 50px;">Per convertire un nuovo file caricarlo con nome differente o riavviare l'applicazione</h3>
</body>